* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

header div {
    display: flex;
    align-items: center;
}

header #difficulty {
    width: 10rem;
    margin-right: .2rem;
}

header #play {
    padding: 0 1.5rem;
}


/* MAIN */
main {
    background-color: #7FFFD4;
    height: calc(100vh - 85.05px - 46.4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    width: 30rem;  /*FIXME: in js*/
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
}

.box {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7FFFD4;
    border: 1px solid black;
}

/* FOOTER */
footer {
    background-color: white;
    font-size: 13px;
    padding: 1rem 6rem;
}