* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
}

header div {
    display: flex;
    align-items: center;
}

main {
    background-color: #7FFFD4;
    padding: 6rem 0;
}

.grid {
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    margin: 0 auto;
}

.box {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7FFFD4;
    border: 1px solid black;
}